<div class="book">
  <h5><%= link_to book.name, book %></h5>
  <% if book.image.present? %>
    <figure class="image">
          <%= image_tag book.image.variant(resize_to_limit: [300, 300]).processed, alt: book.name  %>
  </figure>
  <% end %>

  <p class="text-right">by <%= link_to book.author.name, book.author %></p>
  <p><%= number_to_currency book.cost %></p>
  <p>
    <% book.genres.each do |genre| %>
      <%= link_to genre.genre_name, genre%>
      <%= " "%>
    <% end %>
  </p>
</div>