<!DOCTYPE html>
<html>
  <head>
    <title>BookStoreEcommerceProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>

  </head>

  <body>

    <div class= "container">
      <header>
       <h1></h1>
      </header>
      <%= render partial: 'common/menu' %>
      <div class="page-header">
        <h2><%= yield(:title) %></h2>
      </div>

      <%= yield %>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
    </div>
  </body>
</html>
